.restaurant-list-item {
    position: relative;
    width: 100%;
    height: auto;
    margin-top: 16px;
    padding: 10px 30px;
    text-align: left;
    border: 1px solid #CCC;
    border-radius: 5px;

    &:first-child {
        margin-top: 0;
    }

    &:last-child {
        margin-bottom: 16px;
    }

    .restaurant-list-img {
        position: relative;
        width: 100%;
        height: 130px;
        overflow: hidden;
        display: table-cell;
        vertical-align: middle;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;

        img {
            height: 120px;
            width: 170px;
            border-radius: 4px;
        }
    }

    a:hover {
        color: #666;
    }

    .icon {
        padding-right: 7px;
    }

    .see-menu {
        position: absolute;
        right: 20px;
        top: 50px;
    }

    .rating {
        margin-bottom: 5px;

        .rating-number {
            margin-left: 5px;
        }
    }
}