<body>
	<div id="main-wrapper">
		<!-- all page-content star -->
		<div id="page-content">
			<div class="home-top-wrapper">
				<div class="call-to-action-section">
					<div class="css-table-cell">
						<div class="icon">
							<img src="img/content/call-to-action-icon1.png" alt="">
						</div>
					</div>
					<div class="text css-table">
						<div class="css-table-cell">
							<h4>Encomende comida online</h4>
							<p>Procure por takeaways perto de si</p>
						</div>
						<div class="main-postcode-search css-table-cell">
							<input class="form-control" type="text" placeholder="Insira o seu código postal">
						</div>
						<div class="css-table-cell">
							<a href="#" class="btn btn-default-red-inverse pad-top">Procure um takeaway</a>
						</div>
					</div>
				</div>
				<!-- masterslider -->
				<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
					<!-- new slide -->
					<div class="ms-slide">
						<!-- slide background -->
						<img src="js/masterslider/blank.gif" data-src="img/japanese_ramen.jpg" alt="">
						<!-- slide text layer -->
						<div class="ms-layer ms-caption">
							<h1 class="text-right">
								<span>Tens fome?!</span>
								<br>Come!
							</h1>
						</div>

					</div>
					<!-- end of slide -->
				</div>
				<!-- end of masterslider -->				
			</div>

			<!--Start blog feed section-->
			<div class="order-steps text-center">
				<div class="container">
					<div class="row">
						<div class="col-lg-3">
							<div class="order-step">
								<i class="fa fa-map-marker fa-4x"></i>
								<h6>1. Diga-nos onde está</h6>
								<div class="bl-sort">Só precisamos do seu código postal.</div>
							</div>
						</div>
						<!--end grid layout-->
						<div class="col-lg-3">
							<div class="order-step">
								<i class="fa fa-cutlery fa-4x"></i>		
								<h6>2. Escolha um takeaway</h6>
								<div class="bl-sort">O que lhe apetece comer?</div>
							</div>
						</div>
						<!--end grid layout-->
						<div class="col-lg-3">
							<div class="order-step">
								<i class="fa fa-credit-card fa-4x"></i>
								<h6>3. Dinheiro ou cartão</h6>
								<div class="bl-sort">Aceitamos as duas formas de pagamento.</div>
							</div>
						</div>
						<!--end grid layout-->
						<div class="col-lg-3">
							<div class="order-step">
								<i class="fa fa-thumbs-up fa-4x"></i>
								<h6>4. Já está</h6>
								<div class="bl-sort">A sua comida está a caminho!</div>
							</div>
						</div>
						<!--end grid layout-->
					</div>
					<!--end .row main-->
				</div>
				<!--end container-->
			</div>
			<!--end .latest-from-blog-->

		</div>
		<!-- end #page-content -->
		{{> footer}}

	</div>
	<!-- end #main-wrapper -->
</body>