.item {
	border-bottom: 1px solid #ccc;
	padding: 8px 0;
}

.item:last-child {
	border-bottom: 0;
}

.top {
	display: flex;
	justify-content: flex-end;

	.name {
		flex-grow: 5;
		align-self: center;
		font-weight: 600;
		margin: 0;
	}

	.price {
		align-self: center;
	}

	.add-to-cart {
		margin: 0 0 0 16px;
	}
}

.description p {
	margin-bottom: 0;
}

.add-to-cart-button a {
	margin: 0;
	line-height: 34px;
}