<body>
	<div id="main-wrapper">
		{{> header}}
		<!-- all page-content star -->
		<div id="page-content">
			<div class="home-top-wrapper">
				<div class="call-to-action-section">
					<div class="css-table-cell">
						<div class="icon">
							<img src="img/content/call-to-action-icon1.png" alt="">
						</div>
					</div>
					<div class="text css-table">
						<div class="css-table-cell">
							<h4>Encomende comida online</h4>
							<p>Procure takeaways por codigo postal</p>
						</div>
						<div class="main-postcode-search css-table-cell">
							<input class="form-control" type="text" placeholder="Search by keyword">
						</div>
						<div class="css-table-cell">
							<a href="#" class="btn btn-default-red-inverse pad-top"><i class="fa fa-shopping-cart"></i> Procura um takeaway</a>
						</div>
					</div>
				</div>
				<!-- masterslider -->
				<div class="master-slider ms-skin-black-2 round-skin" id="masterslider">
					<!-- new slide -->
					<div class="ms-slide">
						<!-- slide background -->
						<img src="js/masterslider/blank.gif" data-src="img/japanese_ramen.jpg" alt="">
						<!-- slide text layer -->
						<div class="ms-layer ms-caption">
							<h1 class="text-right">
								<span>Tens fome?!</span>
								<br>Come!
							</h1>
						</div>

					</div>
					<!-- end of slide -->
					<!-- new slide -->
					<div class="ms-slide">
						<!-- slide background -->
						<img src="js/masterslider/blank.gif" data-src="img/content/home-slide-1.jpg" alt="">
						<!-- slide text layer -->
						<div class="ms-layer ms-caption" style="">
							<h1 class="text-right">
								<span>Hungry?!</span>
								<br>Good, we are here
								<br>to
								<span class="bold">serve</span>you
							</h1>
							<a href="#" class="btn btn-default"><i class="fa fa-file-text-o"></i>Read  More</a>
						</div>
					</div>

					<!-- new slide -->
					<div class="ms-slide">
						<!-- slide background -->
						<img src="js/masterslider/blank.gif" data-src="img/content/home-slide-1.jpg" alt="">
						<!-- slide text layer -->
						<div class="ms-layer ms-caption" style="">
							<h1>
								<span>Hungry?!</span>
								<br>Good, we are here
								<br>to
								<span class="bold">serve</span>you</h1>
							<a href="#" class="btn btn-default"><i class="fa fa-file-text-o"></i> Read  More</a>
						</div>
					</div>
					<!-- end of slide -->
				</div>
				<!-- end of masterslider -->				
			</div>

			<!--start small-slide section -->
			<div id="sm-slide-section">
				<div class="container">
					<div class="slide-heading text-center">
						<h4>Our Clients Say</h4>
					</div>
					<!--end .clients heading-->
					<div id="slide-content" class="owl-carousel">
						<div class="item">
							<img src="img/content/sm-slide-img1.jpg" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.jpg" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img1.jpg" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-unstyled list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.jpg" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img1.jpg" alt="img-1">
							<div class="details">
								<h5><a href="#">jane doe</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->

						<div class="item">
							<img src="img/content/sm-slide-img-2.jpg" alt="img-2">
							<div class="details">
								<h5><a href="#">chrich woods</a>
								</h5>
								<ul class="list-inline">
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
									<li><a href="#"><i class="fa fa-star"></i></a>
									</li>
								</ul>
								<p>Absolutely delicious! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed, lacinia in, mi.</p>
							</div>
						</div>
						<!-- end item class div-->
					</div>
					<!-- end i.slide-content -->
				</div>
				<!-- end .container-->
			</div>
			<!-- end .sm-slide-section-->

			<!--Start blog feed section-->
			<div class="latest-from-blog text-center">
				<div class="container">
					<h4>Latest From the Blog</h4>
					<div class="row">
						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="blog-latest">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<img class="" src="img/content/blog-post-1.jpg" alt="blog-image">
									</div>
									<div class="col-md-6 col-sm-12">
										<h5><a href="#">Post Title Goes Here</a>
										</h5>
										<p><i class="fa fa-clock-o"></i>
											<span class="date">27.6.2014</span>at
											<span class="time">17.33</span>
										</p>
										<p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
									</div>
									<!--end .blog-details-->
								</div>
								<!--end .row-->
							</div>
							<!--end .blog-latest -->
						</div>
						<!--end grid layout-->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="blog-latest">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<img class="" src="img/content/blog-post-2.jpg" alt="blog-image">
									</div>
									<div class="col-md-6 col-sm-12">
										<h5><a href="#">Post Title Goes Here</a>
										</h5>
										<p><i class="fa fa-clock-o"></i>
											<span class="date">27.6.2014</span>at
											<span class="time">17.33</span>
										</p>
										<p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
									</div>
									<!--end .blog-details-->
								</div>
								<!--end .row-->
							</div>
							<!--end .blog-latest -->
						</div>
						<!--end grid layout-->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="blog-latest">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<img class="" src="img/content/blog-post-3.jpg" alt="blog-image">
									</div>
									<div class="col-md-6 col-sm-12">
										<h5><a href="#">Post Title Goes Here</a>
										</h5>
										<p><i class="fa fa-clock-o"></i>
											<span class="date">27.6.2014</span>at
											<span class="time">17.33</span>
										</p>
										<p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
									</div>
									<!--end .blog-details-->
								</div>
								<!--end .row-->
							</div>
							<!--end .blog-latest -->
						</div>
						<!--end grid layout-->

						<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
							<div class="blog-latest">
								<div class="row">
									<div class="col-md-6 col-sm-12">
										<img class="" src="img/content/blog-post-4.jpg" alt="blog-image">
									</div>
									<div class="col-md-6 col-sm-12">
										<h5><a href="#">Post Title Goes Here</a>
										</h5>
										<p><i class="fa fa-clock-o"></i>
											<span class="date">27.6.2014</span>at
											<span class="time">17.33</span>
										</p>
										<p class="bl-sort">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
										<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read  More</a>
									</div>
									<!--end .blog-details-->
								</div>
								<!--end .row-->
							</div>
							<!--end .blog-latest -->
						</div>
						<!--end grid layout-->
					</div>
					<!--end .row main-->
					<!-- read older button -->
					<div class="read-older">
						<a href="#" class="btn btn-default-red"><i class="fa fa-file-text-o"></i> Read Older Entries</a>
					</div>
				</div>
				<!--end container-->
			</div>
			<!--end .latest-from-blog-->

		</div>
		<!-- end #page-content -->
		{{> footer}}

	</div>
	<!-- end #main-wrapper -->
</body>