:global {
    // Some best-practice CSS that's useful for most apps
    // Just remove them if they're not what you want
    html {
        box-sizing: border-box;
    }

    html,
    body {
        margin: 0;
        padding: 0;
        height: 100%;
    }

    body {
        background: #ffffff;
        color: #423338;
        font-size: 16px;
        font-family: 'Roboto Slab', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 24px;
        cursor: default;
        -webkit-font-smoothing: antialiased;
    }

    *,
    *:before,
    *:after {
        box-sizing: inherit;
    }

    a {
        color: #343434;
        text-decoration: none;
        cursor: pointer;
        -webkit-transition: all .4s ease;
        -moz-transition: all .4s ease;
        -ms-transition: all .4s ease;
        -o-transition: all .4s ease;
        transition: all .4s ease;

        &:hover {
            text-decoration: none;
            color: #343434;
        }
    }

    h4 {
        font-size: 24px;
    }

    h5 {
        font-weight: 700;
        font-size: 18px;
    }

    p {
        margin: 0 0 10px;
    }

    .css-table {
        display: table;
    }

    .css-table-cell {
        display: table-cell;
        vertical-align: middle;
    }

    .text-center {
        text-align: center;
    }

    .btn {
        display: inline-block;
        margin-bottom: 0;
        padding: 3px 15px;
        border: 0;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-image: none;
        color: #291f23;
        vertical-align: middle;
        text-align: center;
        white-space: nowrap;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
    }

    .btn-default-red-inverse {
        padding: 5px 15px 5px 10px;
        border: 1px solid #e00000;
        background: #e00000;
        color: #fff;
        border-radius: 7px;
        font-size: 16px;
    }

    .row {
        margin-right: -15px;
        margin-left: -15px;
    }

    .page-content {
        position: relative;
        display: block;
    }

    .spinner {
        position: absolute;
        z-index: 1000;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .side-panel {
        background-color: #f3f3f3;
        height: auto;
        width: 100%;
        padding: 0;
        border-radius: 8px;
        -webkit-border-radius: 8px;
        overflow: hidden;
        border: 1px solid #ccc;

        .title {
            margin: 0;
            font-weight: normal;
            padding: 12px 30px 5px 25px;
            width: 100%;
            height: 40px;
            background: #d9d9d9;
            font-size: 16px !important;
        }

        .categories {
            padding: 0 25px 0px 25px;
            position: relative;
        }

        .list-item {
            width: 100%;
            height: auto;
            padding: 0;
            border-top: 1px solid #ccc;
            position: relative;
            line-height: 24px;
            color: #323430;

            &:hover {
                cursor: pointer;
            }

            a {
                display: block;
                height: 30px;
            }
            a:hover {
                text-decoration: underline;
            }
        }

        .list-item:first-child {
            border-top: none;
        }

        .tag {
            float: right;
        }
    }

    .nav-tabs {
        border-bottom: 3px solid #e00000;

        li.active a {
            background: #e00000;
            color: #fff;
            border: 1px solid #e00000;
        }
    }
}
