.button-tabs {
	display: flex;
	align-items: center;
	
	.tab {
	    flex-grow: 1;
	    display: inline-block;
	    text-align: center;
	    min-width: 150px;
	    background: #f5f5f5;
	    -webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
	    transition: all 0.3s ease;
	    -webkit-transition: all 0.3s ease;
	    -moz-transition: all 0.3s ease;
	}

	.tab.active a {
    	background: #47b475;
	    color: #fff;
	}

	.tab:hover {
	    background: #eee;
	}

	.tab a {
		display: block;
    	font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    color: #666;
	    font-size: 12px;
	    line-height: 24px;
	    font-weight: 400;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-weight: 700;
	    padding: 13px;
	}

	.active .tab {
		background: #47b475;
    	color: #fff;
	}
}