.widget {
    margin-bottom: 48px;
}

.widget .title {
	h1, h2, h3, h4, h5, h6 {
	    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 14px;
	    line-height: 24px;
	    font-weight: 400;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-weight: 700;
	    margin-bottom: 12px;
	}
}