.restaurant-header {
    display: flex;
    font-size: 14px;
    margin-bottom: 16px;
    line-height: 28px;
}

.tag-list,
.address {
	span {
		margin-left: 6px;
		vertical-align: middle;
	}
}

.reviews-number {
	vertical-align: text-bottom;
    margin-left: 8px;
    font-size: 12px;
    line-height: 21px;
}

.tag {
    background-color: #EC1C25;
}

.header-img {
    height: 120px;
    width: 140px;
    border-radius: 4px;
    overflow: hidden;

    img {
        height: 120px;
        width: 140px;
    }
}

.rest-info {
	margin-left: 16px;
    flex-grow: 2;

	h3 {
		margin-bottom: 5px;
		color: #47b475;
        font-weight: 500;
	}
}

.rest-open {
    font-size: 12px;
    float: right;
}

.rest-open-text {
    vertical-align: middle;
    color: #47B475;
    margin-left: 4px;
}