.home-container {
    background-color: transparent;

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

.feature {
    margin-bottom: 24px;
    height: 300px;
    background: rgba(34, 34, 34, 0.6);
    color: #fff;

    .feature-title {
        margin-top: 6px;
    }
}

@media (max-width: 1200px) and (min-width: 990px) {
    .feature {
        height: 350px;
    }
}

.feature h5 {
    color: #fff;
}

.feature p {
    margin-bottom: 0;
    font-size: 15px;
}

.icon {
	display: block;
	font-size: 32px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.steps {
    z-index: 3;
    position: relative;
}