.home-container {
    background-color: transparent;
}

.feature {
    padding: 32px;
    margin-bottom: 24px;
    height: 280px;
    background: rgba(34, 34, 34, 0.4);
    color: #fff;
}

.feature h5 {
    color: #fff;
}

.feature p {
    margin-bottom: 0;
}

.icon {
	display: block;
	font-size: 32px;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 24px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.steps {
    display: flex;
    flex-direction: row;
    z-index: 3;
    position: relative;
}