<!--footer start-->
<footer id="footer">
	<div class="container">
		<div class="main-footer">
			<div class="row">
				<div class="col-sm-6 col-md-3">
					<img src="img/header-logo.png" alt="">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Proin nibh augue, suscipit a, scelerisque sed.
					</p>
				</div>

				<div class="col-sm-6 col-md-3">
					<h5>Quick Links</h5>
					<div class="row">
						<div class="col-md-6">
							<ul class="footer-links padd">
								<li><a href="#">Home</a>
								</li>
								<li><a href="#">Menu Card</a>
								</li>
								<li><a href="#">reservation</a>
								</li>
							</ul>
						</div>

						<div class="col-md-6">
							<ul class="footer-links">
								<li><a href="#">about us</a>
								</li>
								<li><a href="#">news & events</a>
								</li>
								<li><a href="#">contact us</a>
								</li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-sm-6 col-md-3">
					<h5>Latest Tweets
						<span><i class="fa fa-chevron-left"></i>  <i class="fa fa-chevron-right"></i>
						</span>
					</h5>

					<p><a href="#">takeaway:</a> Take a (Photo) Tour of #Envato's #Melbourne Headquarters (...)
						<br>
						<span>7 hours ago</span>
					</p>
				</div>

				<div class="col-sm-6 col-md-3">
					<h5>Newsletter</h5>
					<p>Sign up for our newsletter!</p>
					<div class="footer-subscribe">
						<form>
							<input type="Email" placeholder="Email address...">
							<button type="submit" value=""><i class="fa fa-plus-circle-o"></i></button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</footer>
<!-- end #footer -->