.breadcrumbs {
	position: relative;
	list-style: none;
    top: 8px;
    margin-bottom: 0;
    background: none;
    padding: 0;

    li {
    	display: inline-block;
	    font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
	    font-size: 12px;
	    line-height: 24px;
	    font-weight: 400;
	    text-transform: uppercase;
	    letter-spacing: 2px;
	    font-weight: 700;
	    font-size: 11px;
	    font-weight: 600;
    }

    .active {
    	color: #777;
    }
}