.rest-item {
    cursor: pointer;
    display: flex;
    margin-left: 15px;
    text-overflow: ellipsis;
}

.rest-item:hover {
    .rest-name a {
        color: #666;
    }
}

.rest-info {
    flex-grow: 2;
    margin-left: 16px;
}

.rest-name {
    margin-bottom: 5px;
}

.restaurant-list-img {
    height: 103px;
    width: 120px;
    border-radius: 4px;
    overflow: hidden;

    img {
        height: 103px;
        width: 120px;
    }
}

.icon {
    padding-right: 7px;
}

.reviews-number {
    vertical-align: text-bottom;
    margin-left: 8px;
    font-size: 12px;
    line-height: 21px;
}

.tag-list,
.address,
.see-menu {
    span {
        margin-left: 6px;
    }
}

.see-menu {
    align-self: center;
    margin-bottom: 0;
    margin-right: 0;
}

.see-menu-narrow {
    composes: see-menu;
    min-width: 0;
    width: 100px;
    padding: 0;
}

.tag {
    background-color: #EC1C25;
}