.header {
    position: relative;
    a {
        text-decoration: none;
    }
}

.header-top-bar {
    padding: 2px 0;
    background: #1a1a1a;

    a.locale-change {
        float: right;
        color: white;
        text-decoration: underline;
        font-size: 14px;
    }
}

.header-login {
    position: relative;
    float: left;
    margin-top: 8px;
    a {
        color: #fefefe;
        font-size: 13px;
    }
    a:hover {
        color: #e00000;
    }
    a:last-child {
        margin: 0 10px 0 35px;
    }
}

.header-social {
    position: relative;
    margin: 0 auto;
    padding: 6px 0;
    float: right;
    & > li {
        display: inline;
        margin: 0 8px;
        & > a {
            color: #ffffff;
            font-size: 18px;
            line-height: 30px;
        }
        & > a:hover {
            color: #e00000;
        }
    }
}

.header-nav-bar {
    position: relative;
    width: 100%;
    min-height: 50px;
    background: #343434;
    margin: 0;
    border: none;
    margin-bottom: 20px;
    .navbar-nav {
        padding: 0;
        float: right !important;
        > li {
            position: relative;
            display: block;
            padding: 15px;
            float: left;
            a {
                position: relative;
                display: block;
                color: #ffffff;
                padding-top: 15px;
                padding-bottom: 15px;
                text-transform: uppercase;
                font-weight: 700;
                font-size: 14px;
                text-decoration: none;
                cursor: pointer;
                -webkit-transition: all .4s ease;
                -moz-transition: all .4s ease;
                -ms-transition: all .4s ease;
                -o-transition: all .4s ease;
                transition: all .4s ease;
            }
            &:last-child {
                padding-right: 0;
            }
        }
    }
    .logo {
        padding-top: 0px;
    }
}