.footer {
    position: relative;
    overflow: hidden;
    background: #292929;
    padding: 72px 0;
}

.footer a {
    color: #fff;
}

.footer li {
    color: #fefefe;
}

.footer h6 {
    color: #ffffff;
}

.quick-links {
    line-height: 24px;
}

.quick-links li {
    margin-bottom: 8px;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
}

.instafeed li {
    width: 33.3333%;
    display: inline-block;
    padding: 0 4px 4px 0;
}

.instafeed img {
    height: auto;
}

.sub {
    opacity: 0.5;   
}

.social {
    margin: 0;
}